/* ****  flurdy's nautical layout  ******* */

root {  }
html { height: 100%; }
body { height: 95%; }
.nautical-structure   { }
.nautical-compartment { }

#nautical-ocean      { display: table; width: 100%; height: 100%; margin: 0 auto; }
#nautical-lighthouse { display: table-row; }
#nautical-fleet      { display: table-cell; vertical-align: middle; }
#nautical-regatta    { display: table; margin: auto; }
#nautical-tug        { display: table-row; }
#nautical-ship       { display: table-cell; }
#nautical-vaka       { display: table-row; }
#nautical-hull       { display: table-cell; }
#nautical-keel       { display: table; }
#nautical-innerhull  {  }
#nautical-bulkhead   { display: table; }
#nautical-ballast    {  }
#nautical-ama        { display: table-cell; }
#nautical-net        { display: table-row; }
#nautical-buoy       { display: table-row; }
#nautical-dragons    {  }

#nautical-figurehead {  }
#nautical-prow       {  }
#nautical-bow        {  }
#nautical-lookout    {  }
#nautical-port       { display: table-cell; }
#nautical-jib        {  }
#nautical-foremast   {  }
#nautical-hatch      { display: table-cell; }
#nautical-cargo      {  }
#nautical-deck       { display: table-cell; }
#nautical-bridge     {  }
#nautical-starboard  { display: table-cell; }
#nautical-aft        {  }
#nautical-stern      {  }
#nautical-anchor     {  }

#nautical-lighthouse .nautical-compartment { display: table-cell; }
#nautical-tug .nautical-compartment        {  }
#nautical-ama .nautical-compartment        {  }
#nautical-net .nautical-compartment        {  }
#nautical-buoy .nautical-compartment       { display: table-cell;  }

