@(project: Project)(implicit webJarAssets: WebJarAssets, messages: Messages, latestNews: List[News], analytics: Option[GoogleAnalytics])

@import helper._

@versionsRow(title: String, version: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@Html(version) </td>
   </tr>
}
@dateRow(title: String, date: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@date</td>
   </tr>
}

@urlRow(title: String, url: Url) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td><a href="@{url.value}">@{url.naked}</a></td>
   </tr>
}

@newsRow(news: News) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@news.dateFormatted</td>
      <td>@Html(news.description)</td>
   </tr>
}

@commentRow(comment: Comment) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@comment.dateFormatted</td>
      <td>@Html(comment.comment)</td>
   </tr>
}

@characteristicRow( characteristicO: Option[ProjectCharacteristics.Characteristic], title: String) = {
   @for(characteristic <- characteristicO) {
      @characteristicRower(title, characteristic)
   }
}

@characteristicRower(title: String, characteristic: ProjectCharacteristics.Characteristic) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(s"project.characteristics.${title}")</td>
      <td><a href="@routes.ProjectController.findProjectsByCharacteristic(title,characteristic.name)" class="" type="submit">@Html(Messages(s"project.characteristics.${title}.${characteristic}"))</a></td>
}

@projectShell(project){

   <!-- <li class="active">@Messages("breadcrumb.project.details")</li> -->
   <li class="active">@Messages("breadcrumb.project")</li>

} {

   <div class="well row">
      <h3>
         @Html(project.title)
      </h3>
      @for(description <- project.description ){
         <p>@Html(description)</p>
      }
      <div class="project-properties">
         @if(project.isPopular){
            <i class="far fa-star" title="project is popular"></i>
         }
         @if(project.isLive){
          <i class="fas fa-heartbeat" title="project is live"></i>
         }
         @if(project.isAnIdea){
          <i class="far fa-lightbulb" title="project is only an idea"></i>
         }
         @if(project.urls.hasProject){
            <i class="fas fa-code" title="project's code is available"></i>
         }
         @if(project.isApp){
           <i class="fas fa-mobile-alt" title="project is a mobile app"></i>
         }
         @if(project.isDead){
           <i class="fas fa-cross" title="project is mothballed or currently unlikely"></i>
         }
         @if(project.isUnlikely || project.isUnappealing){
           <i class="far fa-meh" title="project is not likely to happen"></i>
         }
         @if(project.isRecentlyAdded){
            <i class="fas fa-plus-circle" title="project has been recently added"></i>
         }
         @if(project.isRecentlyUpdated && !project.isRecentlyAdded){
            <i class="fas fa-seedling" title="project is recently updated"></i>
         }
         @if(project.isStale){
           <i class="far fa-clock" title="project is stale or untouched for a long time"></i>
         }
         @if(project.isCommercial){
           <i class="fas  fa-dollar-sign" title="project is commercial"></i>
         }
      </div>
   </div>

   @if(!project.urls.isEmpty){
   <div class="well row">

      <h4>@Messages("project.links.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(url <- project.urls.project){
               @urlRow("project.links.project.title", url)
            }
            @for(url <- project.urls.live){
               @urlRow("project.links.live.title", url)
            }
            @for(key <- project.urls.others.keys){
               @for(url <- project.urls.get(key)){
                  @for(title <- url.title){
                     @urlRow(s"project.links.${title}.title", url)
                  }
               }
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.dates.isEmpty){
   <div class="well row">

      <h4>@Messages("project.dates.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(date <- project.dates.created){
               @dateRow("project.dates.created.title", date)
            }
            @for(date <- project.dates.updated){
               @dateRow("project.dates.updated.title", date)
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.versions.isEmpty){
   <div class="well row">

      <h4>@Messages("project.versions.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(version <- project.versions.live){
               @versionsRow("project.versions.live.title", version)
            }
            @for(version <- project.versions.dev){
               @versionsRow("project.versions.dev.title", version)
            }
         </tbody>
      </table>
   </div>
   }

   @for(license <- project.license){
   <div class="well row">

      <h4>@Messages("project.license.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            <tr>
               <td class="col-sm-4 com-xs-4">&nbsp;</td>
               <td><a href="@{license.link}">@{license.name}</a></td>
            </tr>
         </tbody>
      </table>
   </div>
   }

   @if(!project.characteristics.isEmpty){
   <div class="well row">

      <h4>@Messages("project.characteristics.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @characteristicRow(project.characteristics.appeal,"appeal")
            @characteristicRow(project.characteristics.complexity,"complexity")
            @characteristicRow(project.characteristics.likelihood,"likelihood")
            @characteristicRow(project.characteristics.developmentStatus,"status.development")
            @characteristicRow(project.characteristics.releaseStatus,"status.release")
            @characteristicRow(project.characteristics.deployStatus,"status.deploy")
         </tbody>
      </table>
   </div>
   }

   @if(!project.tags.isEmpty){
   <div class="well row">

      <h4>Tags</h4>

         <ul class="list-inline">
            @for(tag <- project.tags){
               <li>
                  @form(action=routes.ProjectController.findProjectsByTag){
                     <input type="hidden" name="tag" value="@{tag.name}" />
                     <button class="well well-sm" type="submit">@{tag.name}</button>
                  }
               </li>
            }
         </ul>
   </div>
   }

   @if(!project.tech.isEmpty){
   <div class="well row">

      <h4>Technologies</h4>

         <ul class="list-inline">
            @for(tech <- project.tech){
               <li>
                  @form(action=routes.ProjectController.findProjectsByTech){
                     <input type="hidden" name="tech" value="@{tech.name}" />
                     <button class="well well-sm" type="submit">@{tech.name}</button>
                  }
               </li>
            }
         </ul>
   </div>
   }

   @if(!project.news.isEmpty){
      <div class="well row">

         <h4>News</h4>

         <table class="table table-striped table-condensed">
            <tbody>
               @for(news <- project.news){
                  @newsRow(news)
               }
            </tbody>
         </table>
      </div>
   }

   @if(!project.comments.isEmpty){
      <div class="well row">

         <h4>Comments</h4>

         <table class="table table-striped table-condensed">
            <tbody>
               @for(comment <- project.comments){
                  @commentRow(comment)
               }
            </tbody>
         </table>
      </div>
   }

   <div class="well row">

      <h4>Contact</h4>

      <ul class="list-group">
         <li class="list-group-item col-xs-12 col-sm-3">
            <a href="@routes.ProjectController.showHelp(project.link)" class="btn btn-success btn-block">@Messages("project.contact.help")</a>
         </li>
         <li class="list-group-item col-xs-12 col-sm-3">
            <a href="@routes.ProjectController.showSponsor(project.link)" class="btn btn-info btn-block">@Messages("project.contact.sponsor")</a>
         </li>
         <li class="list-group-item col-xs-12 col-sm-3">
            <a href="https://flurdy.com/contact/" class="btn btn-default btn-block">@Messages("project.contact.inquire")</a>
         </li>
      </ul>


   </div>
}
