@(projects: List[Project], tags: List[Tag] = List.empty, subTags: List[Tag] = List.empty,
  technologies: List[Technology] = List.empty, subTech: List[Technology] = List.empty,
  searchTerm: Option[String] = None, possibleCharacteristic: Option[ProjectCharacteristics.Characteristic] = None,
  filterProperties: Option[ProjectFilters] = None)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, latestNews: List[News], analytics: Option[GoogleAnalytics])

@import helper._


@propertiesFilterButtons() = {
   <div class="row">
      <div class="form-group">
         <div class="input-group col-xs-12 col-sm-2 pull-right">
            <button class="btn btn-default col-xs-12 col-sm-8" type="button" onclick="resetFilter(this.form)">@Messages("projects.properties.filter.reset")</button>
            <!-- <button class="btn btn-default col-xs-12 col-sm-5 col-sm-offset-1" type="submit">@Messages("projects.properties.filter.filter")</button> -->
         </div>
      </div>
   </div>
}

@main(){

   <li class="active">@Messages("breadcrumb.projectlist")</li>

} {


   <div class="well row">
         <p>

           @(tags ,searchTerm, possibleCharacteristic) match {
             case _ if !tags.isEmpty => {
               @Messages("project.list.tag")
               @{tags.map(_.name).mkString(", ")}
             }
             case (_, Some(term), _) => {
               @Messages("project.list.search") [ @term ]
             }
             case (_, _, Some(characteristic)) => {
                 @Messages("project.list.characteristic")
                 @Messages("project.characteristics." + characteristic.parentName) -
                 @Html(Messages("project.characteristics." + characteristic.parentName + "." + characteristic.name))
             }
             case _ => {
               @Messages("project.list.all")
             }
           }

         </p>

         @if(!projects.isEmpty){
           <table class="table table-striped table-condensed projectlist">
              <tbody>
                 @for( project <- projects){
                    <tr>

                      @if(project.isDead){
                        <td class="mothballed">
                      } else if(project.isStale){
                         <td class="wilted">
                      } else if(project.isLive || project.isRecentlyUpdated || project.isRecentlyAdded || project.isPopular ){
                        <td class="alive">
                      } else {
                        <td>
                      }
                        <a href="@routes.ProjectController.showProject(project.link)">@Html(project.title)</a></td>
                        @(project.urls.live,project.urls.project) match {
                           case (Some(url), _) if project.isLive => {
                              <td><a href="@url.value">@url.curt(25)</a></td>
                           }
                           case (_, Some(url)) if project.characteristics.isNotAbandoned => {
                            <td class="link-project"><a href="@url.value">@url.curt(25)</a></td>
                           }
                           case (Some(url), _) => {
                              <td class="link-notlive" title="Not live at the moment"><a href="@url.value">@url.curt(25)</a></td>
                           }
                           case (_, Some(url)) => {
                              <td class="link-notlive" title="Development abandoned"><a href="@url.value">@url.curt(25)</a></td>
                           }
                           case (None, None) => {
                             <td></td>
                           }
                        }
                        <td class="projectlist-properties">
                           @if(project.isPopular){
                              <i class="far fa-star" title="project is popular"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isDead){
                              <i class="fas fa-cross" title="project is mothballed or currently unlikely"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isRecentlyAdded){
                              <i class="fas fa-plus-circle" title="project has been recently added"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isRecentlyUpdated && !project.isRecentlyAdded){
                              <i class="fas fa-seedling" title="project is recently updated"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isStaleNotDead){
                              <i class="far fa-clock" title="project is stale or untouched for a long time"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isLive){
                              <i class="fas fa-heartbeat" title="project is live"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isAnIdea){
                              <i class="far fa-lightbulb" title="project is only an idea"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.urls.hasProject){
                              <i class="fas fa-code" title="project's code is available"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isApp){
                              <i class="fas fa-mobile-alt" title="project is a mobile app"></i>
                           }
                        </td>
                        <!-- <td class="projectlist-properties">
                           @if(project.isUnlikely || project.isUnappealing){
                              <i class="far fa-meh" title="project is not likely to happen"></i>
                           }
                        </td> -->
                        <td class="projectlist-properties">
                           @if(project.isCommercial){
                              <i class="fas  fa-dollar-sign" title="project is commercial"></i>
                           }
                        </td>
                    </tr>
                 }
              </tbody>
           </table>
       } else {
          <p>
            @Messages("projects.none-found")
          </p>
       }
    </div>

   <div class="well row" id="filter-accordion" role="tablist" aria-multiselectable="true">

      <div class="panel-heading" role="tab" id="heading-filter">
         <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#main-tech-accordion"
               href="#collapse-tech" aria-expanded="true"
               aria-controls="collapse-tech">
               @Messages("projects.properties.filter")
               <span class="caret"></span>
            </a>
         </h4>
      </div>
      <div class="panel panel-default">
        <div id="collapse-filter" class="panel-collapse collapse in"
              role="tabpanel" aria-labelledby="heading-filter">
          <div class="panel-body">

      @if(tags.size == 1){
         @form(action=routes.ProjectController.findProjectsByTag(), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
            <input type="hidden" name="tag" value="@{tags.take(1).map(_.name).mkString(",")}"/>
            @propertiesFilter(filterProperties)
            @propertiesFilterButtons()
         }
      } else if(tags.size > 1){
         @form(action=routes.ProjectController.findProjectsByTags(), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
            <input type="hidden" name="tag" value="@{tags.take(1).map(_.name).mkString(",")}"/>
            <input type="hidden" name="tags" value="@{tags.drop(1).map(_.name).mkString(",")}"/>
            @propertiesFilter(filterProperties)
            @propertiesFilterButtons()
         }
      } else if(!technologies.isEmpty){
         @form(action=routes.ProjectController.findProjectsByTech(), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
            <input type="hidden" name="tech" value="@{technologies.take(1).map(_.name).mkString(", ")}"/>
             @propertiesFilter(filterProperties)
             @propertiesFilterButtons()
         }
      } else if(!possibleCharacteristic.isEmpty){
          @for(characteristic <- possibleCharacteristic){
             @form(action=routes.ProjectController.findProjectsByCharacteristic(characteristic.parentName,characteristic.name), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
                @propertiesFilter(filterProperties)
                @propertiesFilterButtons()
             }
          }
      } else if(!searchTerm.isEmpty){
         @for(searchTermValue <- searchTerm){
            @form(action=routes.ProjectController.findProjectsBySearch(), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
               <input type="hidden" name="searchterm" value="@searchTermValue"/>
               @propertiesFilter(filterProperties)
               @propertiesFilterButtons()
            }
         }
      } else {
       @form(action=routes.ProjectController.findAllProjects(), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
          @propertiesFilter(filterProperties)
          @propertiesFilterButtons()
       }
      }
   </div>
   </div>
   </div>
   </div>

   @if(!subTags.isEmpty){
      <div class="well row">

         <h4>@Messages("projects.tags")</h4>

         <ul class="list-inline">
            @for(tag <- subTags){
               <li>
                  @form(action=routes.ProjectController.findProjectsByTags()){
                     <input type="hidden" name="tags" value="@{tags.map(_.name).mkString(",")}" />
                     <input type="hidden" name="tag" value="@{tag.name}" />
                     <button class="well well-sm" type="submit">@{tag.name}</button>
                  }
               </li>
            }
         </ul>
      </div>
   }

   <div class="well search-box row">

      <div class="row">
         @form(action=routes.ProjectController.findProjectsBySearch(), Symbol("method") -> "GET"){
            <div class="col-xs-8 col-sm-8 ">
               <div class="input-group">
                     <input type="text" class="form-control" placeholder="search for projects"
                           maxlength="200" name="searchterm" @for(term <- searchTerm){ value="@term" } />
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">search</button>
                     </span>
               </div>
            </div>
         }
      </div>
   </div>

   <script src="@routes.Assets.versioned("javascript/filter.js")"></script>

}
