@(projects: List[Project], tags: List[Tag] = List.empty, subTags: List[Tag] = List.empty,
  technologies: List[Technology] = List.empty, subTech: List[Technology] = List.empty,
  searchTerm: Option[String] = None, possibleCharacteristic: Option[ProjectCharacteristics.Characteristic] = None)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, latestNews: List[News], analytics: Option[GoogleAnalytics])

@import helper._

@main(){

   <li class="active">@Messages("breadcrumb.projectlist")</li>

} {


   <div class="well row">
         <p>

           @(tags ,searchTerm, possibleCharacteristic) match {
             case _ if !tags.isEmpty => {
               @Messages("project.list.tag")
               @{tags.map(_.name).mkString(", ")}
             }
             case (_, Some(term), _) => {
               @Messages("project.list.search") [ @term ]
             }
             case (_, _, Some(characteristic)) => {
                 @Messages("project.list.characteristic")
                 @Messages("project.characteristics." + characteristic.parentName) -
                 @Html(Messages("project.characteristics." + characteristic.parentName + "." + characteristic.name))
             }
             case _ => {
               @Messages("project.list.all")
             }
           }

         </p>

         @if(!projects.isEmpty){
           <table class="table table-striped table-condensed projectlist">
              <tbody>
                 @for( project <- projects){
                    <tr>
                       <td class="@if(project.isDead || project.isStale){wilted}"><a href="@routes.ProjectController.showProject(project.link)">@Html(project.title)</a></td>
                        @(project.urls.live,project.urls.project) match {
                           case (Some(url), _) if project.characteristics.isLive => {
                              <td><a href="@url.value">@url.curt(25)</a></td>
                           }
                           case (_, Some(url)) => {
                            <td class="link-project"><a href="@url.value">@url.curt(25)</a></td>
                           }
                           case (Some(url), _) => {
                             <td class="link-notlive" title="Not live at the moment">@url.curt(25)</td>
                           }
                           case (None, None) => {
                             <td></td>
                           }
                        }
                        <td class="projectlist-properties">
                           @if(project.isPopular){
                              <i class="far fa-star" title="project is popular"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isDead){
                              <i class="fas fa-cross" title="project is mothballed or currently unlikely"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isRecentlyAdded){
                              <i class="fas fa-plus-circle" title="project has been recently added"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isRecentlyUpdated && !project.isRecentlyAdded){
                              <i class="fas fa-seedling" title="project is recently updated"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isStale && !project.isDead){
                              <i class="far fa-clock" title="project is stale or untouched for a long time"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isLive){
                              <i class="fas fa-heartbeat" title="project is live"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isAnIdea){
                              <i class="far fa-lightbulb" title="project is only an idea"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.urls.hasProject){
                              <i class="fas fa-code" title="project's code is available"></i>
                           }
                        </td>
                        <td class="projectlist-properties">
                           @if(project.isApp){
                              <i class="fas fa-mobile-alt" title="project is a mobile app"></i>
                           }
                        </td>
                        <!-- <td class="projectlist-properties">
                           @if(project.isUnlikely || project.isUnappealing){
                              <i class="far fa-meh" title="project is not likely to happen"></i>
                           }
                        </td> -->
                        <td class="projectlist-properties">
                           @if(project.isCommercial){
                              <i class="fas  fa-dollar-sign" title="project is commercial"></i>
                           }
                        </td>
                    </tr>
                 }
              </tbody>
           </table>
       } else {
          <p>
            @Messages("projects.none-found")
          </p>
       }
    </div>


   @if(!subTags.isEmpty){
      <div class="well row">

         <h4>@Messages("projects.tags")</h4>

         <ul class="list-inline">
            @for(tag <- subTags){
               <li>
                  @form(action=routes.ProjectController.findProjectsByTags()){
                     <input type="hidden" name="tags" value="@{tags.map(_.name).mkString(",")}" />
                     <input type="hidden" name="tag" value="@{tag.name}" />
                     <button class="well well-sm" type="submit">@{tag.name}</button>
                  }
               </li>
            }
         </ul>
      </div>
   }

   <div class="well search-box row">

      <div class="row">
         @form(action=routes.ProjectController.findProjectsBySearch(), Symbol("method") -> "GET"){
            <div class="col-xs-8 col-sm-8 col-sm-offset-1">
               <div class="input-group">
                     <input type="text" class="form-control" placeholder="search for projects"
                           maxlength="200" name="searchterm" @for(term <- searchTerm){ value="@term" } />
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">search</button>
                     </span>
               </div>
            </div>
         }
      </div>
   </div>

}
