@(project: Project)(implicit webJarAssets: WebJarAssets, messages: Messages, latestNews: List[News], analytics: Option[GoogleAnalytics])

@import helper._

@versionsRow(title: String, version: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@Html(version) </td>
   </tr>
}
@dateRow(title: String, date: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@date</td>
   </tr>
}

@urlRow(title: String, url: Url) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td><a href="@{url.value}">@{url.naked}</a></td>
   </tr>
}

@newsRow(news: News) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@news.dateFormatted</td>
      <td>@Html(news.description)</td>
   </tr>
}

@characteristicRow( characteristicO: Option[ProjectCharacteristics.Characteristic], title: String) = {
   @for(characteristic <- characteristicO) {
      @characteristicRower(title, characteristic)
   }
}

@characteristicRower(title: String, characteristic: ProjectCharacteristics.Characteristic) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(s"project.characteristics.${title}")</td>
      <td><a href="@routes.ProjectController.findProjectsByCharacteristic(title,characteristic.name)" class="" type="submit">@Html(Messages(s"project.characteristics.${title}.${characteristic}"))</a></td>
}

@main(){

   <li class="active">@Messages("breadcrumb.project")</li>

} {


   <div class="well row">
      <h3>
         @Html(project.title)
      </h3>
      @for(description <- project.description ){
         <p>@Html(description)</p>
      }
   </div>

   @if(!project.urls.isEmpty){
   <div class="well row">

      <h4>@Messages("project.links.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(url <- project.urls.project){
               @urlRow("project.links.project.title", url)
            }
            @for(url <- project.urls.live){
               @urlRow("project.links.live.title", url)
            }
            @for(key <- project.urls.others.keys){
               @for(url <- project.urls.get(key)){
                  @for(title <- url.title){
                     @urlRow(s"project.links.${title}.title", url)
                  }
               }
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.dates.isEmpty){
   <div class="well row">

      <h4>@Messages("project.dates.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(date <- project.dates.created){
               @dateRow("project.dates.created.title", date)
            }
            @for(date <- project.dates.updated){
               @dateRow("project.dates.updated.title", date)
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.versions.isEmpty){
   <div class="well row">

      <h4>@Messages("project.versions.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(version <- project.versions.live){
               @versionsRow("project.versions.live.title", version)
            }
            @for(version <- project.versions.dev){
               @versionsRow("project.versions.dev.title", version)
            }
         </tbody>
      </table>
   </div>
   }

   @for(license <- project.license){
   <div class="well row">

      <h4>@Messages("project.license.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            <tr>
               <td class="col-sm-4 com-xs-4">&nbsp;</td>
               <td><a href="@{license.link}">@{license.name}</a></td>
            </tr>
         </tbody>
      </table>
   </div>
   }

   @if(!project.characteristics.isEmpty){
   <div class="well row">

      <h4>@Messages("project.characteristics.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @characteristicRow(project.characteristics.appeal,"appeal")
            @characteristicRow(project.characteristics.complexity,"complexity")
            @characteristicRow(project.characteristics.likelihood,"likelihood")
            @characteristicRow(project.characteristics.developmentStatus,"status.development")
            @characteristicRow(project.characteristics.releaseStatus,"status.release")
            @characteristicRow(project.characteristics.deployStatus,"status.deploy")
         </tbody>
      </table>
   </div>
   }

   @if(!project.tags.isEmpty){
   <div class="well row">

      <h4>Tags</h4>

         <ul class="list-inline">
            @for(tag <- project.tags){
               <li>
                  @form(action=routes.ProjectController.findProjectsByTag){
                     <input type="hidden" name="tag" value="@{tag.name}" />
                     <button class="well well-sm" type="submit">@{tag.name}</button>
                  }
               </li>
            }
         </ul>
   </div>
   }

   @if(!project.news.isEmpty){
   <div class="well row">

      <h4>News</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(news <- project.news){
               @newsRow(news)
            }
         </tbody>
      </table>
   </div>
   }

   <div class="well row">

      <h4>Contact</h4>

      <ul class="list-group">
         <li class="list-group-item col-xs-12 col-sm-3">
            <a href="@routes.ProjectController.showHelp(project.title)" class="btn btn-success btn-block">@Messages("project.contact.help")</a>
         </li>
         <li class="list-group-item col-xs-12 col-sm-3">
            <a href="@routes.ProjectController.showSponsor(project.title)" class="btn btn-info btn-block">@Messages("project.contact.sponsor")</a>
         </li>
         <li class="list-group-item col-xs-12 col-sm-3">
            <a href="https://flurdy.com/contact/" class="btn btn-default btn-block">@Messages("project.contact.inquire")</a>
         </li>
      </ul>


   </div>
}
