@(project: Project)(implicit webJarAssets: WebJarAssets, messages: Messages)

@versionsRow(title: String, version: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@Html(version) </td>
   </tr>
}
@dateRow(title: String, date: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@date</td>
   </tr>
}

@urlRow(title: String, url: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td><a href="@url">@url</a></td>
   </tr>
}

@main() {


   <div class="well">
      <h3>
         @project.title
      </h3>
      @for(description <- project.description ){
         <p>@description</p>
      }
   </div>

   @if(!project.urls.isEmpty){
   <div class="well">

      <h4>@Messages("project.links.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(url <- project.urls.project){
               @urlRow("project.links.project.title", url)
            }
            @for(url <- project.urls.live){
               @urlRow("project.links.live.title", url)
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.dates.isEmpty){
   <div class="well">

      <h4>@Messages("project.dates.title")</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(date <- project.dates.created){
               @dateRow("project.dates.created.title", date)
            }
            @for(date <- project.dates.updated){
               @dateRow("project.dates.updated.title", date)
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.versions.isEmpty){
   <div class="well">

      <h4>Versions</h4>

      <table class="table table-striped table-condensed">
         <tbody>
            @for(version <- project.versions.live){
               @versionsRow("project.versions.live.title", version)
            }
            @for(version <- project.versions.dev){
               @versionsRow("project.versions.dev.title", version)
            }
         </tbody>
      </table>
   </div>
   }

   @if(!project.tags.isEmpty){
   <div class="well">

      <h4>Tags</h4>

         <ul class="list-inline">
            @for(tag <- project.tags){
               <li>@tag.name</li>
            }
         </ul>
   </div>
   }

}
