@(project: Project)(implicit webJarAssets: WebJarAssets, messages: Messages)

@dateRow(title: String, date: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td>@date</td>
   </tr>
}

@urlRow(title: String, url: String) = {
   <tr>
      <td class="col-sm-4 com-xs-4">@Messages(title)</td>
      <td><a href="@url">@url</a></td>
   </tr>
}

@main() {


   <div class="well">
      <h3>
         @project.title
      </h3>
      @for(description <- project.description ){
         <p>@description</p>
      }
   </div>

   <div class="well">

      <h4>Links</h4>

      @for(urls <- project.urls){
         <table class="table table-striped table-condensed">
            <tbody>
               @for(url <- urls.project){
                  @urlRow("project.links.project.title", url)
               }
               @for(url <- urls.live){
                  @urlRow("project.links.live.title", url)
               }
            </tbody>
         </table>
      }
   </div>

   <div class="well">

      <h4>Dates</h4>

      @for(dates <- project.dates){
         <table class="table table-striped table-condensed">
            <tbody>
               @for(date <- dates.created){
                  @dateRow("project.dates.created.title", date)
               }
               @for(date <- dates.updated){
                  @dateRow("project.dates.updated.title", date)
               }
            </tbody>
         </table>
      }
   </div>

   <div class="well">

      <h4>Tags</h4>

      @if(!project.tags.isEmpty){
         <ul class="list-inline">
            @for(tag <- project.tags){
               <li>@tag.name</li>
            }
         </ul>
      }
   </div>

}
