@(filterProperties: Option[ProjectFilters])(implicit messages: Messages)

@filterValue(name: String) = @{filterProperties.flatMap(_.propertyValue(name)).getOrElse("")}

@filterOption(name: String, value: String, option: String, label: String) = {
   <input class="property-filter-input property-filter-@option" type="radio"
      id="filter_@{name}_@option" name="filter.@name" value="@value"
      @if(filterValue(name) == value){checked="checked"} />
   <label for="filter_@{name}_@option">@label</label>
}

@propertyFilter(name: String, icon: String, label: String) = {
   <fieldset class="property-filter">
      <legend>
         <i class="@icon" aria-hidden="true"></i>
         <span>@label</span>
      </legend>
      <div class="property-filter-options">
         @filterOption(name, "", "any", Messages("projects.properties.any"))
         @filterOption(name, "require", "include", Messages("projects.properties.include"))
         @filterOption(name, "exclude", "exclude", Messages("projects.properties.exclude"))
      </div>
   </fieldset>
}

<div class="properties-filter-grid">
   @propertyFilter("popular", "far fa-star", Messages("projects.properties.popular"))
   @propertyFilter("dead", "fas fa-cross", Messages("projects.properties.dead"))
   @propertyFilter("unlikely", "far fa-frown", Messages("projects.properties.unlikely"))
   @propertyFilter("recent", "fas fa-plus-circle", Messages("projects.properties.recent"))
   @propertyFilter("updated", "fas fa-seedling", Messages("projects.properties.updated"))
   @propertyFilter("stale", "fas fa-hourglass-half", Messages("projects.properties.stale"))
   @propertyFilter("live", "fas fa-heartbeat", Messages("projects.properties.live"))
   @propertyFilter("idea", "far fa-lightbulb", Messages("projects.properties.idea"))
   @propertyFilter("code", "fas fa-code", Messages("projects.properties.code"))
   @propertyFilter("mobile", "fas fa-mobile-alt", Messages("projects.properties.mobile"))
   @propertyFilter("commercial", "fas fa-dollar-sign", Messages("projects.properties.commercial"))
</div>
