@()(implicit messages: Messages)

<div class="container-fluid">

   <ul class="nav nav-pills well well-sm">
      <li role="presentation">
         <a class="btn btn-default" href="http://flurdy.com">
            <img alt="flurdy.com" title="flurdy.com" src="@routes.Assets.versioned("images/flurdy-small.png")">
         </a>
      </li>
      <li role="presentation">
         <a class="btn btn-default" href="http://flurdy.com/contact/">@Messages("bridge.contact")</a>
      </li>
   </ul>

</div>
