@()(implicit messages: Messages)

<nav class="bridge-links" aria-label="Site links">
   <ul>
      <li class="flurdy-logo">
         <a href="http://flurdy.com">
            <img alt="flurdy.com" title="flurdy.com" src="@views.assetUrl("images/flurdy-small.png")" />
         </a>
      </li>
      <li class="eray-logo">
         <a href="https://eray.uk">
            <img alt="eray" title="hire Ivar at eray by flurdy" src="@views.assetUrl("images/ray-wings-eray-black-small.png")" />
         </a>
      </li>
      <li class="patreon-button">
         <a href="https://patreon.com/flurdy">
            <img src="@views.assetUrl("images/become_a_patron_button.png")" alt="Become a patron" title="Sponsor flurdy at Patreon" />
         </a>
      </li>
      <li>
         <a href="http://flurdy.com/contact/">@Messages("bridge.contact")</a>
      </li>
   </ul>
</nav>
