@(projectsFound: Int, updatedProjects: List[Project], newProjects: List[Project], popularProjects: List[Project], randomProjects: List[Project], tags: List[Tag])(implicit webJarAssets: WebJarAssets, messages: Messages)

@import helper._

@projectBox(title: String, projects: List[Project]) = {
    @if(!projects.isEmpty){
      <div class="well project-list-box col-xs-5 col-sm-5 col-xs-offset-0 col-sm-offset-0">
         <h3>@title</h3>
         <table class="table table-striped table-condensed">
            <tbody>
               @for( project <- projects){
                  <tr>
                     <td><a href="@routes.ProjectController.showProject(project.title)">@project.title</a></td>
                     @project.urls.live.orElse(project.urls.project).map { url =>
                        <a href="@url">@if(url.length>20){...}@url.takeRight(20)</a>
                     }.orElse(Some("")).map{ link =>
                        <td>@link</td>
                     }
                  </tr>
               }
            </tbody>
         </table>
      </div>
   }
}

@main() {

   <div class="row">

      @projectBox(Messages("projects.popular.title"), popularProjects)

      @projectBox(Messages("projects.updated.title"), updatedProjects)

   </div>

   <div class="row">

      @projectBox(Messages("projects.new.title"),     newProjects)

      @projectBox(Messages("projects.random.title"),  randomProjects)

   </div>


   <div class="well search-box">

      <p class="">
         @projectsFound projects found
      </p>

      <div class="row">
         @form(action=routes.ProjectController.findProjectsBySearch, 'method -> "GET"){
            <div class="col-xs-8 col-sm-8 col-sm-offset-1">
               <div class="input-group">
                     <input type="text" class="form-control" placeholder="search for projects" maxlength="200" name="searchterm" />
                     <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">search</button>
                     </span>
               </div>
            </div>
         }
      </div>
   </div>


   @if(!tags.isEmpty){
      <div class="well">

         <h4>Tags</h4>

         <ul class="list-inline">
            @for(tag <- tags){
               <li>
                  @form(action=routes.ProjectController.findProjectsByTag){
                     <input type="hidden" name="tag" value="@{tag.name}" />
                     <button type="submit">@{tag.name}</button>
                  }
               </li>
            }
         </ul>
      </div>
   }
}
