@(projectsFound: Int, updatedProjects: List[Project], newProjects: List[Project], popularProjects: List[Project], randomProjects: List[Project],
tags: List[Tag], technologies: List[Technology], characteristics: ProjectCharacteristics.CharacteristicPossibilities)(implicit webJarsUtil: org.webjars.play.WebJarsUtil, messages: Messages, latestNews: List[News], analytics: Option[GoogleAnalytics])

@import helper._

@projectBox(title: String, projects: List[Project], evenClass: String = "") = {
    @if(!projects.isEmpty){
      <div class="project-list-box col-xs-12 col-sm-6 @evenClass">
      <div class="well">
         <h3>@title</h3>
         <table class="table table-striped table-condensed">
            <tbody>
               @for( project <- projects){
                  <tr>
                     <td class="@if(project.isDead || project.isStale){wilted}"><a href="@routes.ProjectController.showProject(project.link)">@Html(project.title)</a></td>
                     @(project.urls.live,project.urls.project) match {
                        case (Some(url), _) if project.characteristics.isLive => {
                           <td><a href="@url.value">@url.curt(25)</a></td>
                        }
                        case (_, Some(url)) => {
                           <td class="link-project"><a href="@url.value">@url.curt(25)</a></td>
                        }
                        case (Some(url), _) => {
                           <td class="link-notlive" title="Not live at the moment">@url.curt(25)</td>
                        }
                        case (None, None) => {
                           <td></td>
                        }
                     }
                     <td class="projectlist-properties">
                        @if(project.isLive){
                           <i class="fas fa-heartbeat" title="project is live"></i>
                        }
                     </td>
                     <td class="projectlist-properties">
                        @if(project.isAnIdea){
                           <i class="far fa-lightbulb" title="project is only an idea"></i>
                        }
                     </td>
                     <td class="projectlist-properties">
                        @if(project.urls.hasProject){
                           <i class="fas fa-code" title="project's code is available"></i>
                        }
                     </td>
                     <td class="projectlist-properties">
                        @if(project.isApp){
                           <i class="fas fa-mobile-alt" title="project is a mobile app"></i>
                        }
                     </td>
                     <td class="projectlist-properties">
                        @if(project.isDead){
                           <i class="fas fa-cross" title="project is mothballed"></i>
                        }
                     </td>
                     <td class="projectlist-properties">
                        @if(project.isStale && !project.isDead){
                           <i class="far fa-clock" title="project is stale"></i>
                        }
                     </td>
                     <td class="projectlist-properties">
                        @if(project.isCommercial){
                           <i class="fas  fa-dollar-sign" title="project is commercial"></i>
                        }
                     </td>
                  </tr>
               }
            </tbody>
         </table>
      </div>
      </div>
   }
}

@characteristicsRow(characteristicType: String, characteristics: Set[_ <: ProjectCharacteristics.Characteristic]) = {
   <div class="panel-group" id="characteristics-accordion" role="tablist" aria-multiselectable="true">
      <div>
        <div id="collapse-@{characteristicType.replace(".","-")}" class="" role="tabpanel" aria-labelledby="heading-@{characteristicType.replace(".","-")}">
          <div class="panel-body">
             <ul class="list-inline characteristic-list">
                <li class="characteristic-title">
                  @Messages(s"project.characteristics.$characteristicType")
                </li>
                @characteristicsRowItem(characteristicType, characteristics)
             </ul>
          </div>
        </div>
      </div>
  </div>
}

@characteristicsRowItem(characteristicType: String, characteristics: Set[_ <: ProjectCharacteristics.Characteristic]) = {
   @for(characteristic <- characteristics){
      <li>
         <a href="@routes.ProjectController.findProjectsByCharacteristic(characteristicType,characteristic.name)" class="btn btn-default well well-sm" type="submit">
            @Html(Messages(s"project.characteristics.$characteristicType.$characteristic"))
         </a>
      </li>
   }
}

@main(){ } {

   <div class="row">

      <div class="well">
         <p>
            @Html(Messages("application.description"))
            @Messages("application.description.2")
         </p>
      </div>

   </div>

   <div class="row">

      @projectBox(Messages("projects.popular.title"), popularProjects)

      @projectBox(Messages("projects.updated.title"), updatedProjects, "project-list-box-even")

   </div>

   <div class="row">

      @projectBox(Messages("projects.new.title"), newProjects)

      @projectBox(Messages("projects.random.title"), randomProjects, "project-list-box-even")

   </div>


   <div class="well search-box row">

      <div class="row">
         @form(action=routes.ProjectController.findProjectsBySearch(), Symbol("class") -> "form-line", Symbol("method") -> "GET"){
            <div class="col-xs-12 col-sm-8 col-sm-offset-1">
               <div class="form-group">
                  <div class="input-group">
                        <input type="text" class="form-control" placeholder="search amongst @projectsFound projects"
                           maxlength="200" name="searchterm" />
                        <span class="input-group-btn">
                           <button class="btn btn-default" type="submit">@Messages("projects.search.button")</button>
                        </span>
                        <span class="input-group-btn">
                           <a href="@routes.ProjectController.findAllProjects()" class="btn btn-default">@Messages("projects.search.all")</a>
                        </span>
                  </div>
               </div>
            </div>
         }
      </div>
   </div>


   @if(!tags.isEmpty){
      <div class="well row" id="main-tags-accordion" role="tablist" aria-multiselectable="true">
         <div class="panel-heading" role="tab" id="heading-tags">
           <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#main-tags-accordion"
                    href="#collapse-tags" aria-expanded="true"
                    aria-controls="collapse-tags">
                  @Messages("projects.tags")
                  <span class="caret"></span>
                </a>
             </h4>
          </div>
          <div class="panel panel-default">
            <div id="collapse-tags" class="panel-collapse collapse in"
                  role="tabpanel" aria-labelledby="heading-tags">
              <div class="panel-body">
                 <ul class="list-inline">
                  @for(tag <- tags){
                     <li>
                        @form(action=routes.ProjectController.findProjectsByTag()){
                           <input type="hidden" name="tag" value="@{tag.name}" />
                           <button class="well well-sm" type="submit">@{tag.name}</button>
                        }
                     </li>
                  }
                </ul>
             </div>
           </div>
        </div>
     </div>
   }


   @if(!technologies.isEmpty){
      <div class="well row" id="main-tech-accordion" role="tablist" aria-multiselectable="true">
         <div class="panel-heading" role="tab" id="heading-tech">
           <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#main-tech-accordion"
                    href="#collapse-tech" aria-expanded="true"
                    aria-controls="collapse-tech">
                  @Messages("projects.technologies")
                  <span class="caret"></span>
                </a>
             </h4>
          </div>
          <div class="panel panel-default">
            <div id="collapse-tech" class="panel-collapse collapse in"
                  role="tabpanel" aria-labelledby="heading-tech">
              <div class="panel-body">
                 <ul class="list-inline">
                  @for(tech <- technologies){
                     <li>
                        @form(action=routes.ProjectController.findProjectsByTech()){
                           <input type="hidden" name="tech" value="@{tech.name}" />
                           <button class="well well-sm" type="submit">@{tech.name}</button>
                        }
                     </li>
                  }
                </ul>
             </div>
           </div>
        </div>
     </div>
   }

   @if(!characteristics.isEmpty){
      <div class="well row" id="main-characteristics-accordion" role="tablist" aria-multiselectable="true">
        <div class="panel-heading" role="tab" id="heading-characteristic">
           <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#main-characteristics-accordion"
                  href="#collapse-characteristic" aria-expanded="true"
                  aria-controls="collapse-characteristic">
                 @Messages("projects.characteristics")
                 <span class="caret"></span>
              </a>
           </h4>
        </div>
        <div class="panel panel-default">
           <div id="collapse-characteristic" class="panel-collapse collapse in"
                role="tabpanel" aria-labelledby="heading-characteristic">

              @characteristicsRow("appeal", characteristics.appeals)

              @characteristicsRow("complexity", characteristics.complexities)

              @characteristicsRow("likelihood", characteristics.likelihoods)

              @characteristicsRow("status.development", characteristics.developmentStatuses)

              @characteristicsRow("status.release", characteristics.releaseStatuses)

              @characteristicsRow("status.deploy", characteristics.deployStatuses)

            </div>
        </div>
     </div>
   }
}
